name: Generate Keystore
on: workflow_dispatch # 讓我們可以手動點擊執行

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Keystore File
        run: |
          keytool -genkeypair -v -storetype JKS -keystore my-release-key.keystore -alias my-key-alias -keyalg RSA -keysize 2048 -validity 10000 -storepass "joyquiz123456" -keypass "joyquiz123456" -dname "CN=JoyQuiz, OU=Dev, O=JoyQuiz, L=Taipei, S=Taiwan, C=TW"
          
      - name: Convert to Base64
        run: |
          base64 -w 0 my-release-key.keystore > keystore_base64.txt
          
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: key-data
          path: |
            my-release-key.keystore
            keystore_base64.txt
